
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build file
*.exe
*.dll
*.so
*.o
*.a
*.out

# Env
env/
venv/
.venv/

# Flask
*.db
*.sqlite
*.log
instance/
.env

# React
node_modules/
build/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db